:host {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

code {
  font-family: 'Roboto Mono', monospace;
}
